
  <%= form_for  @contact do |f| %>
    
    <% if contact.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

        <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= fields_for 'contact[]', @contact do |c| %>
      <div class="field">
        <%= c.label :name %>
        <%= c.text_field :name, class: 'form-control' %>
      </div>

      <div class="field">
        <%= c.label :email %>
        <%= c.text_field :email, class: 'form-control' %>
      </div>
    <% end %> 

    <!-- Text fields -->
    <% @text_fields.each do |text_field| %>    
          <%= fields_for 'text_field_values[][]', text_field[:value] do |value| %>
            <div class="field">
              <label><%= text_field[:text_field].name %></label>
              <%= value.text_field :value, class: 'form-control'%>
              <%= value.hidden_field :name, value:text_field[:text_field].name %> 
              <%= value.hidden_field :text_field_id, value:text_field[:text_field].id %> 
            </div>
          <% end %>
    <% end %>
    <!-- end text fields-->

    <!-- Text areas -->
    <% @text_areas.each do |text_area| %>    
          <%= fields_for 'text_area_values[][]', text_area[:value] do |value| %>
            <div class="field">
              <label><%= text_area[:text_area].name %></label>
              <%= value.text_area :value, class: 'form-control'%>
              <%= value.hidden_field :name, value: text_area[:text_area].name %> 
              <%= value.hidden_field :text_area_id, value: text_area[:text_area].id %> 
            </div>
          <% end %>
    <% end %>
    <!-- end text areas -->

    <!-- dropdowns -->
    <% @dropdowns.each do |dropdown| %>
      <%= fields_for 'dropdown_values[][]', dropdown[:value] do |value| %>
        <div class="form-group">
          <label><%= dropdown[:dropdown].name %></label>
          <%= value.select :value, dropdown[:dropdown].get_options,class: "form-control"%>
          <%= value.hidden_field :content, value: dropdown[:dropdown].name %> 
          <%= value.hidden_field :dropdown_id, value: dropdown[:dropdown].id %> 
        </div>
        
      <% end %>
        
    <% end %>
    <!-- end dropdowns -->
    <div class="actions">
      <%= f.submit "Submit", class: 'btn btn-primary' %>
    </div>
  <% end %>


