

    <% provide(:title, 'Contact') %>
    <h1>My contact form</h1>


    <p id="notice"><%= notice %></p>


    <h3>Text Fields</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Field Name</th>
          <th>Created at</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @text_fields.each do |text_field| %>
          <tr>
            <td><%= text_field.name %></td>
            <td><%= text_field.updated_at.strftime("%b, %m %Y - %H:%M") %></td>
            <td><%= link_to 'Edit', edit_text_field_path(text_field), class: 'btn-link' %></td>
            <td><%= link_to 'Destroy', text_field, class: 'btn-link', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="actions">
      <%= link_to 'Add text field', new_text_field_path, class: "btn btn-link" %>
    </div>
    

    <h3>Text Areas</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Field Name</th>
          <th>Created at</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @text_areas.each do |text_area| %>
          <tr>
            <td><%= text_area.name %></td>
            <td><%= text_area.updated_at.strftime("%b, %m %Y - %H:%M") %></td>
            <td><%= link_to 'Edit', edit_text_area_path(text_area), class: 'btn-link' %></td>
            <td><%= link_to 'Destroy', text_area, class: 'btn-link', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'New Text Area', new_text_area_path, class: 'btn btn-link' %>

    <h3>Text Dropdown lists</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Field Name</th>
          <th>Options</th>
          <th>Created at</th>          
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @dropdowns.each do |dropdown| %>
          <tr>
            <td><%= dropdown.name %></td>
            <td>
              <ul>
                <%= dropdown.get_options.each do |option| %>
                  <li> <%= option %> </li>
                <% end %>
              </ul>
            </td>
            <td><%= dropdown.updated_at.strftime("%b, %m %Y - %H:%M") %></td>
            <td><%= link_to 'Edit', edit_dropdown_path(dropdown), class: 'btn-link' %></td>
            <td><%= link_to 'Destroy', dropdown, class: 'btn-link', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'New Text Dropdown list', new_dropdown_path, class: 'btn btn-link' %>
