<p id="notice"><%= notice %></p>

<h1>Text Areas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @text_areas.each do |text_area| %>
      <tr>
        <td><%= text_area.name %></td>
        <td><%= text_area.user %></td>
        <td><%= link_to 'Show', text_area %></td>
        <td><%= link_to 'Edit', edit_text_area_path(text_area) %></td>
        <td><%= link_to 'Destroy', text_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Text Area', new_text_area_path %>
