


	 <h1>Contact datails</h1>

	<table class="table">
	  <thead>
	    <tr>
	      <th>Field</th>
	      <th>Value</th>
	    </tr>
	  </thead>

	  <tbody>
	  	<tr>
		  	<td>Name</td>
		    <td>Email</td>
	    </tr>
	    <tr>
	    	<td><%= @contact.name %></td>
		    <td><%= @contact.email %></td>
	    </tr>
	    <% @text_field_values.each do |field| %>
	    	<tr>
	    		<td><%= field.name %></td>
	    		<td><%= field.value %></td>
	    	</tr>				
		<% end %>

		<% @text_area_values.each do |field| %>
	    	<tr>
	    		<td><%= field.name %></td>
	    		<td><%= field.value %></td>
	    	</tr>				
		<% end %>

		<% @dropdown_values.each do |field| %>
	    	<tr>
	    		<td><%= field.content %></td>
	    		<td><%= field.value %></td>
	    	</tr>				
		<% end %>

	  </tbody>
	</table>		

	<h4>
		<%= link_to 'Back', contacts_path, class: 'btn-link' %> 
	</h4>



