<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dropdown.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @dropdown.user %>
</p>

<%= link_to 'Edit', edit_dropdown_path(@dropdown) %> |
<%= link_to 'Back', dropdowns_path %>
